<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h4><%= dataText %></h4>
  <p>link: https://youtu.be/kJ_WhEfORUU</p>
  <form method="POST" action="/download">
    <label>Enter video url here</label>
    <input type="text" name="urlData">
    <br>
    <input type="submit" value="Submit">
  </form>



  </a>

</body>
</html>
